<h3>Lista de películas</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let movie of movies" >
        <div class="row">
            <div class="col-4">
                <h4>{{movie.title}}</h4>
                <img width="90" class="img-thumbnail" [src]="movie.image" [alt]="movie.title">
                <p>{{movie.rating}}</p>
            </div>
            <div class="col-8">
                <p>{{movie.sinopsis}}</p>
                <p>Año:  {{movie.year}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Duración: {{movie.duration}} minutos</p>
            </div>
        </div>   
    </li>
</ul>